.section-upload {
    padding: 0px 64px;

    & h1 {
        font-size: 64px;
        font-weight: 600;
    }

    & p {
        line-height: 28px;
        font-size: 20px;
        margin-bottom: 24px;
    }
}